[Unit]
Description=Slob %i
After=network.target auditd.service

[Service]
EnvironmentFile=/etc/default/slob%i
Environment=SLOB=/var/lib/slob%i
User=slob
Group=slob
ExecStartPre=+/usr/bin/install -d -o slob -g slob -m 0700 /var/lib/slob%i
ExecStart=/usr/sbin/slob
Restart=on-failure

[Install]
WantedBy=multi-user.target
