#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	# `--restart-after-upgrade` (default in compat 10 or later).
	dh_installsystemd --name slob
	dh_installsystemd --no-enable --no-start --name slob
