Source: ephemeric
Section: net
Priority: optional
Maintainer: Slob <support@ephemeric.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://ephemeric.com
Rules-Requires-Root: no

Package: ephemeric
Architecture: amd64
Depends: adduser
Recommends: logrotate
Suggests: apparmor
Description: Slob
